/* _*_*_*_*_*_*_*_*_*_*_*_*_main controll_*_*_*_*_*_*_*_*_*_*_*_ */
p {
  max-width: 600px;
  padding-top: 20px;
  /*color: #e6e6e6;*/
  color: #ffa64d;
  font-family: sans-serif;
  margin: auto;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #000120;
}

header {
  background-image: url("images/background.jpg");
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* _*_*_*_*_*_*_*_*_*_*_*_*_all id controll_*_*_*_*_*_*_*_*_*_*_*_*_ */

#landerText {
  padding: 10px;
  color: #ffa64d;
  font-family: monospace;
  font-size: 5vh;
  border: 2px solid #ffa64d;
}

#basicDivSize {
  height: 100%;
}

#newSec {
  background-color: #006585;
  height: 100%;
}

#footer {
  background-color: #000120;
  height: 30%;
  border-top: 20px solid #006585;
  color: #ffa64d;
  margin:  0 auto 0;
  text-align: center;
}
