

/* _*_*_*_*_*_*_*_*_*_*_*_*_main controll_*_*_*_*_*_*_*_*_*_*_*_ */
h2 {
  color: #ffa64d;
  font-family: monospace;
}

p {
  padding-top: 20px;
  color: #ffa64d;
  font-family: sans-serif;
  margin: auto;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #000120;
  width: 100%;
}

header {
  background-image: url("images/background.jpg");
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #ffa64d;
  font-family: sans-serif;
}


/* _*_*_*_*_*_*_*_*_*_*_*_*_all id controll_*_*_*_*_*_*_*_*_*_*_*_*_ */

#landerText {
  padding: 10px;
  color: #ffa64d;
  font-family: monospace;
  font-size: 5vh;
  border: 2px solid #ffa64d;
}

#aboutMe {
  border-top: 2px solid #ffffff;
  background-color: #006585;
  height: 100%;
}

#basicDivSize {
  border-top: 2px solid #ffffff;
  height: 100%;
}

#newSec {
  border-top: 2px solid #ffffff;
  background-color: #006585;
  height: 100%;
}

#footer {
  background-color: #000120;
  height: 10%;
  border-top: 2px solid #ffffff;
  color: #ffa64d;
  margin:  0 auto 0;
  text-align: center;
}

#navBarDesign {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  background-color: #000120;
}

#navBar {
  float: left;
  margin-left: 5px;
  margin-top: 15px;
}

#navBar a {
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  padding-left: 10px;
}

#socal {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}
